DATABASE_URL='your-database-url'
PORT=8080
IS_DEV=true
JWT_SECRET=your-jwt-secret
# MaxMind account ID and license key are required to download the GeoLite2-Country.mmdb file
MAX_MIND_ACCOUNT_ID=your-max-mind-account-id
MAX_MIND_LICENSE_KEY=your-max-mind-license-key